	<head>
		<meta charset="utf-8">

		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">

		<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ "/apple-touch-icon-precomposed.png" | prepend: site.baseurl }}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Titillium+Web:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

		<script async src="{{ "/js/vendor/pf-m.min.js" | prepend: site.baseurl }}"></script>
	</head>
